# Google Cloud Configuration
GCP_PROJECT_ID=your-project-id
GCP_CREDENTIALS_PATH=credentials.json

# MongoDB Configuration
MONGO_URI=mongodb+srv://your-username:your-password@your-cluster.mongodb.net/?appName=your-app-name
MONGO_DATABASE=higher_education
MONGO_COLLECTION=students

# BigQuery Configuration
BIGQUERY_DATASET=seu_dataset
BIGQUERY_TABLE=sua_tabela

# BigQuery Test Resources
BIGQUERY_TEST_DATASET=ppgti_etl_test
BIGQUERY_TEST_TABLE=etl_test_table
